{% extends "case_connecting/base.html" %}
{% block content %}
<head>
    <style>
        a[id="about-link"] {
            background-color: #555;
            color: white;
        }

    </style>
</head>
<h1 style="color: #0a304e;">Case Connect</h1>
<p style="color: #0a304e;">
    Case Connect was created in Fall 2020 as a means to streamline the connection process between Case Western Reserve University students and professionals and open up more opportunities for both ends. Using Case Connect, students can apply to on-campus jobs and assistant positions posted by researchers, professors, and student entrepreneurs.
    <br><br>
    After registering using the tab to the right, users can create posts containing position titles, preferred knowledge of applicants, job descriptions, and job pay if applicable.
    <br><br>
    Students can filter through the posted jobs on the home page and apply directly from the site, sparking a chat between the poster and the applicant.
    <br><br>
    Best of luck,
    <br>
    Dillon Beal, Sohan Bhawtankar, Meira Farhi, and Paul Rodriguez
</p>
{% endblock %}