{% extends "case_connecting/base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'case_connecting/about.css' %}">
</head>
<h1>Case Connect</h1>
<p>
    <br><br>
    Case Connect was created in Fall 2020 as a means to streamline the connection process between Case Western
    Reserve University students and professionals and open up more opportunities for both ends. Using Case Connect,
    students can apply to on-campus jobs and assistant positions posted by researchers, professors, and student
    entrepreneurs.
    <br><br>
    After registering using the tab to the right, users can create posts containing position titles,
    preferred knowledge of applicants, job descriptions, and job pay if applicable. Users can also apply or save to positions
    that aren't there's, and if the recruiter responds to your chat then a chat stream will form connecting the two of you.
    <br><br>
    Users can filter through the posted jobs on the home page to find the job that best fits them.
    <br><br>
    Best of luck,
    <br>
    Dillon Beal, Sohan Bhawtankar, Meira Farhi, and Paul Rodriguez
</p>
{% endblock %}