{% extends "case_connecting/base.html" %}
{% block content %}
<head>
    <style>
        a[id="activity-link"] {
            background-color: #555;
            color: white;
        }
    </style>
</head>
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="{% url 'case_connecting-applications' %}">Applications</a>
      <a href="{% url 'case_connecting-applicants' %}">Applicants</a>
      <a href="{% url 'case_connecting-saved' %}">Saved</a>
      <a href="{% url 'case_connecting-posts' %}">Your Posts</a>
    </div>

    <div class="content-section" id="posting-list" align="center">
        <div style="text-align: center;">
            <h1 style="color: #0a304e;">Your Applicants</h1>
            <br>
        </div>

        {% if not applications %}
            <div style="text-align: center;">
                <h2>No Applications Have Been Received</h2>
            </div>
        {% endif %}

        {% for application in applications %} <!-- Loops through the posts -->
        <article id="post" class="media content-section"  align="left">
        <img class="rounded-circle article-img" src="{{ application.applicant.profile.image.url }}"> <!-- Side image -->
              <div class="media-body">
                <div class="article-metadata">

                    <h3>{{ application.applicant.get_full_name }}</h3>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' application.post.id %}">Applied To Your "{{ application.post.position }}" Position</a></h2>
                  <div class="media content-section">
                      <p>
                          {{ application.message }} <br><br>
                          Respond to {{ application.applicant.first_name }} by emailing {{ application.applicant.email }}
                      </p>
                  </div>

              {% if application.applicant.profile.resume %}
                  <h3><a class="article-title" href="{{ application.applicant.profile.resume.url}}">View Resume</a></h3>
              {% endif %}

              {% if not application.applicant.profile.resume %}
                  <h3>No Resume Available</h3>
              {% endif %}





              </div>
            </article>
        {% endfor %}

        {% if is_paginated %}
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number == 1 %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page=1">First Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last Page</a>
                {% endif %}

            {% endif %}

        {% endif %}
    </div>


{% endblock %}