{% extends "case_connecting/base.html" %}
{% load static %}
{% block content %}
<head>
     <link rel="stylesheet" type="text/css" href="{% static 'case_connecting/activity.css' %}">
</head>

    <div class="content-section" id="posting-list">
        <div>
            <h1>Your Applicants</h1>
            <br>
        </div>

        {% if not applications %}
            <div>
                <h2 class="none-to-show">No Applications Have Been Received</h2>
            </div>
        {% endif %}

        {% for application in applications %} <!-- Loops through the posts -->
        <article id="post" class="media content-section">
        <img class="rounded-circle article-img" src="{{ application.applicant.profile.image.url }}"> <!-- Side image -->
              <div class="media-body">
                <div class="article-metadata">

                    <h3>{{ application.applicant.get_full_name }}</h3>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' application.post.id %}">Applied To Your "{{ application.post.position }}" Position</a></h2>
                  <div class="media content-section">
                      <p>
                          {{ application.message }} <br><br>
                          {{ application.applicant.email }}
                      </p>
                  </div>

              {% if application.applicant.profile.resume %}
                  <a class="btn btn-danger mt-1 mb-1 button" href="{{ application.applicant.profile.resume.url}}">View Resume</a>
              {% endif %}

              {% if not application.applicant.profile.resume %}
                  <h4>No Resume Available</h4>
              {% endif %}

              <a class="btn btn-danger mt-1 mb-1 button" href="{% url 'post-chat-applicant' application.id %}">Respond</a>
              <a class="btn btn-danger mt-1 mb-1 btn-sm" href="{% url 'post-delete-applicant' application.id %}">Delete</a>

              </div>
            </article>
        {% endfor %}

        {% if is_paginated %}
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number == 1 %}
                    <a class="btn btn-outline-info mb-4 button" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4 button" href = "?page=1">First Page</a>
                    <a class="btn btn-outline-info mb-4 button" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                    <a class="btn btn-outline-info mb-4 button" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4 button" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                    <a class="btn btn-outline-info mb-4 button" href = "?page={{ page_obj.paginator.num_pages }}">Last Page</a>
                {% endif %}

            {% endif %}

        {% endif %}
    </div>


{% endblock %}