{% extends "case_connecting/base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'case_connecting/activity.css' %}">
</head>

    <div class="content-section" id="posting-list">
        <div>
            <h1>Your Applications</h1>
            <br>
        </div>

        {% if not applications %}
            <div>
                <h2 class="none-to-show">No Applications Have Been Sent</h2>
            </div>
        {% endif %}



        {% for application in applications %} <!-- Loops through the posts -->
        <article id="post" class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <h4><a class="article-title" href="{% url 'user-posts' application.post.recruiter %}">To: {{ application.post.recruiter.get_full_name }}</a></h4>
                </div>
                <h3><a class="article-title" href="{% url 'post-detail' application.post.id %}">Position: {{ application.post.position }}</a></h3>
                  <div class="media content-section">
                    <p>{{ application.message }}</p>
                  </div>
                  <a class="btn btn-danger mt-1 mb-1 btn-sm" href="{% url 'post-delete-application' application.id %}">Delete</a>
              </div>
            </article>
        {% endfor %}

        {% if is_paginated %}
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number == 1 %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page=1">First Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last Page</a>
                {% endif %}

            {% endif %}

        {% endif %}
    </div>

{% endblock %}