{% extends "case_connecting/base.html" %}
{% block content %}
<div class="content-section" style="background-color: #ccc; border: none;">
<form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            Remove Application
        </legend>
        <h2>
            Are you sure you want to remove this application for: "{{ object.post.position }}"?
        </h2>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">
            Yes, Remove
        </button>
        <a class="btn btn-outline-secondary" href="{% url 'case_connecting-applications' %}">
            Cancel
        </a>
    </div>
</form>
</div>
{% endblock %}