{% extends "case_connecting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <style>
        a[id="register-link"] {
            background-color: #555;
            color: white;
        }
    </style>
</head>
<div class="content-section" style="background-color: #ccc; border: none;">
<form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            Chat
        </legend>
        {{ form|crispy }}

    </fieldset>


    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">
            Send
        </button>
    </div>
</form>
</div>
{% endblock %}