{% extends "case_connecting/base.html" %}
{% block content %}
<head>
    <style>
        a[id="activity-link"] {
            background-color: #555;
            color: white;
        }
    </style>
</head>
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="{% url 'case_connecting-applications' %}">Applications</a>
      <a href="{% url 'case_connecting-applicants' %}">Applicants</a>
      <a href="{% url 'case_connecting-saved' %}">Saved</a>
      <a href="{% url 'case_connecting-posts' %}">Posts</a>
    <a href="{% url 'case_connecting-chats' %}">Messages</a>
    </div>

    <div class="content-section" id="posting-list" align="center">
        <div style="text-align: center;">
            <h1 style="color: #0a304e;">Your Messages</h1>
            <br>
        </div>

        {% if not chats %}
            <div style="text-align: center;">
                <h2>No Messages Have Been Received</h2>
            </div>
        {% endif %}

        {% if user.is_authenticated %}

                {% for chat in chats %}
                    {% if not user == chat.app.post.recruiter %}

                        <article id="post" class="media content-section"  align="left">
                          <div class="media-body">

                              <div class="article-metadata">
                                  <a class="article-title" href="{% url 'case_connecting-chat' chat.id%}"><h3>Chat With: {{ chat.app.post.recruiter.get_full_name }}</h3></a>
                              </div>

                              <a class="article-title" href="{% url 'post-detail' chat.app.post.id %}"><h3>Position: {{ chat.app.post.position }}</h3></a>


                          </div>
                        </article>
                    {% endif %}
                {% endfor %}
                {% for chat in chats %}
                    {% if not user == chat.app.applicant %}
                        <article id="post" class="media content-section"  align="left">
                          <div class="media-body">

                              <div class="article-metadata">
                                  <a class="article-title" href="{% url 'case_connecting-chat' chat.id %}"><h3>Chat With: {{ chat.app.applicant.get_full_name }}</h3></a>
                              </div>

                              <a class="article-title" href="{% url 'post-detail' chat.app.post.id %}"><h3>Position: {{ chat.app.post.position }}</h3></a>

                          </div>
                        </article>
                    {% endif %}
                {% endfor %}

        {% endif %}




        {% if is_paginated %}
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number == 1 %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page=1">First Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last Page</a>
                {% endif %}

            {% endif %}

        {% endif %}
    </div>


{% endblock %}