{% extends "case_connecting/base.html" %}
{% block content %}
    <article class="media content-section" id="post">
        <img class="rounded-circle article-img" src="{{ post.recruiter.profile.image.url }}"> <!-- Side image -->
              <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.recruiter.username %}">{{ post.recruiter.get_full_name }}</a>
                    <a class="mr-2">({{ object.recruiter.username }})</a>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.position }}</a></h2>
                  <h4>Experience with: {{ post.knowledge }}</h4>
                  <div class="media content-section">
                      <hp class="article-content">{{ object.content }}</hp>
                  </div>
                  <h4 class="article-content">Pay: {{ post.pay }}</h4>
              </div>
            </article>
            {% if object.recruiter == user %}
                <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
            {% else %}
               <div>

                   {# <a class = "btn btn-secondary btn-sm mt-1 mb-1" href ="{% url 'post-apply' %}">Apply</a> #}
                   <form method = "post" enctype = multipart/form-data action="apply/">
                       {% csrf_token %}
                       <button class = "btn btn-secondary btn-sm mt-1 mb-1" type = "submit" name = "Apply" href ="{% url 'post-apply' object.id %}">
                           Apply
                       </button>
                   </form>
                   <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-save' object.id %}">Save</a>
               </div>
           {% endif %}
{% endblock %}