{% extends "case_connecting/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section back">
<form id="save_form" method="post">
    {% csrf_token %}
    <fieldset class="form-group">

        {{ form|crispy }}
    </fieldset>
    <div class="form-group" id="savebtn">
        <button class="btn btn-outline-info" type="submit">
            Save
        </button>
        <script>
        document.getElementById("save_form").submit();
        </script>
    </div>
</form>
</div>
{% endblock %}