{% extends "case_connecting/base.html" %}
{% block content %}
    <head>
    <style>
        a[id="activity-link"] {
            background-color: #555;
            color: white;
        }
    </style>
    </head>
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="{% url 'case_connecting-applications' %}">Applications</a>
      <a href="{% url 'case_connecting-applicants' %}">Applicants</a>
      <a href="{% url 'case_connecting-saved' %}">Saved</a>
      <a href="{% url 'case_connecting-posts' %}">Your Posts</a>
    </div>

<head>
    <style>
        a[id="applicants-link"] {
            background-color: #555;
            color: white;
        }
    </style>
</head>
    <div class="content-section" id="posting-list" align="center">
        <div style="text-align: center;">
            <h1 style="color: #0a304e;">Your Saved Posts</h1>
            <br>
        </div>

        {% if not saved_posts %}
            <div style="text-align: center;">
                <h2>No Posts Are Saved</h2>
            </div>
        {% endif %}

        {% for saved_post in saved_posts %} <!-- Loops through the posts -->
        <article class="media content-section" id="post" align="left">
        <img class="rounded-circle article-img" src="{{ saved_post.post.recruiter.profile.image.url }}"> <!-- Side image -->
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-posts' saved_post.post.recruiter.username %}">{{ saved_post.post.recruiter.get_full_name }}</a>
                  <small class="text-muted">{{ saved_post.post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' saved_post.post.id %}">{{ saved_post.post.position }}</a></h2>
                  <h4>Experience with: {{ saved_post.post.knowledge }}</h4>
                  <p class="article-content">Pay: {{ saved_post.post.pay }}</p>
                  <div align="right">
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-unsave' saved_post.id %}">Delete</a>
                  </div>
              </div>

            </article>
        {% endfor %}

        {% if is_paginated %}
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number == 1 %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page=1">First Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last Page</a>
                {% endif %}

            {% endif %}

        {% endif %}
    </div>


{% endblock %}