{% extends "case_connecting/base.html" %}
{% block content %}
<head>
    <style>
        a[id="activity-link"] {
            background-color: #555;
            color: white;
        }
    </style>
</head>
    <!-- Side navigation -->
    <div class="sidenav">
      <a href="{% url 'case_connecting-applications' %}">Applications</a>
      <a href="{% url 'case_connecting-applicants' %}">Applicants</a>
      <a href="{% url 'case_connecting-saved' %}">Saved</a>
      <a href="{% url 'case_connecting-posts' %}">Posts</a>
    <a href="{% url 'case_connecting-chats' %}">Messages</a>
    </div>

    <div class="content-section" id="posting-list" align="center">
        <div style="text-align: center;">
            <h1 style="color: #0a304e;">Position: {{ chats.0.app.post.position }}</h1>
            <br>
        </div>

        {% if not chats %}
            <div style="text-align: center;">
                <h2>No Messages Have Been Received</h2>
            </div>
        {% endif %}

        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'case_connecting-chats' %}">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-chat-applicant' chats.0.app.id %}">Send New Message</a>




        {% for chat in chats %} <!-- Loops through the posts -->
        <article id="post" class="media content-section" align="left">
        <img class="rounded-circle article-img" src="{{ chat.sender.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ chat.sender.get_full_name }}
                    {{ chat.date_sent|date:"m/d/y" }}
                </div>

                <p>
                    {{ chat.message }}
                </p>
            </div>

            </article>
        {% endfor %}

        <article id="post" class="media content-section" align="left">
        <img class="rounded-circle article-img" src="{{ chats.0.app.applicant.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ chats.0.app.applicant.get_full_name }}
                    {{ chats.0.app.date_applied|date:"m/d/y" }} (Original Application Message)
                </div>

                <p>
                    {{ chats.0.app.message }}
                </p>
            </div>

        </article>







        {% if is_paginated %}
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number == 1 %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page=1">First Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous Page</a>
                {% endif %}
            {% endif %}
            {% if page_obj.has_next %}
                {% if page_obj.next_page_number == page_obj.paginator.num_pages %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number }}">Next Page</a>
                    <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last Page</a>
                {% endif %}

            {% endif %}

        {% endif %}
    </div>


{% endblock %}