{% extends "case_connecting/base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'case_connecting/activity.css' %}">
</head>

    <div class="content-section" id="posting-list">
        <div>
            <h1>Position: {{ chats.0.app.post.position }}</h1>
            <br>
        </div>

        <a class="btn btn-danger mt-1 mb-1 button" href="{% url 'case_connecting-chats' %}">Back To Chats</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger mt-1 mb-1 button" id="send-new" href="{% url 'post-chat-applicant' chats.0.app.id %}">Send New Message</a>


        {% for chat in chats %} <!-- Loops through the posts -->
        <article id="post" class="media content-section">
        <img class="rounded-circle article-img" src="{{ chat.sender.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ chat.sender.get_full_name }}
                    {{ chat.date_sent|date:"m/d/y" }}
                </div>

                <p>
                    {{ chat.message }}
                </p>
            </div>

            </article>
        {% endfor %}

        <article id="post" class="media content-section">
        <img class="rounded-circle article-img" src="{{ chats.0.app.applicant.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ chats.0.app.applicant.get_full_name }}
                    {{ chats.0.app.date_applied|date:"m/d/y" }} (Original Application Message)
                </div>

                <p>
                    {{ chats.0.app.message }}
                </p>
            </div>

        </article>




    </div>


{% endblock %}