{% extends "case_connecting/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
     <link rel="stylesheet" type="text/css" href="{% static 'case_connecting/profile.css' %}">
</head>
    <div class="content-section back">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Profile Info
            </legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            {{ r_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info button" type="submit">
                Update
            </button>
        </div>
    </form>
    </div>
{% endblock %}